html {
	font: normal 16px/1 "Lucida Console", Monaco, monospace;
	background-color: #2d2d2d;
	color: #d4d4d4;
	font-size: 14px;
	width: 100%;
}

a:link, a:visited, a:hover, a:active {
	color: #d4d4d4;
}

h1 {
	font-size: 18px;
	color: #c2c2c2;
}

p:hover {
	background-color: #474747;
}

li {
	background-color: #474747;
	list-style-type: none;
        margin: 10px 0px;
}

li:hover {
	background-color: #676767;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.button {
	padding: 10px 24px;
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 2px;
	cursor: pointer;
}

/*.button:hover {
	background-color: #89cbe0;
}*/

input[type=text] {
	border: none;
/*	border-radius: 4px;*/
	min-width: 400px;
}
